# --------------------
# Virtual environment
# --------------------
venv/
.env/

# --------------------
# Python cache files
# --------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------
# Environment & secrets
# --------------------
.env
.env.*

# --------------------
# Logs
# --------------------
*.log

# --------------------
# OS / Editor files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# VS Code settings
# --------------------
.vscode/
